CompileFlags:
    Add: [-I/home/cole/.platformio/packages/framework-cmsis-stm32/CMSIS/Device/ST/STM32L4xx/Include, -I/home/cole/.platformio/packages/framework-cmsis-stm32l4/, -I/home/cole/.platformio/packages/framework-cmsis-stm32l4/Include/, -I/home/cole/.platformio/packages/framework-cmsis/CMSIS/Core/Include]

